
html {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	background-color: #e6e5e3;
}

*, *::before, *::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}



body{
	text-align: center;
	min-height: 100vh;
	margin: 0 auto;
}

.content {
	/*width: 100%;*/
	padding: 25px;
}

.content figure {
	width: 100%;
	height: auto;
	background: black;
	border-radius: 10px;
	border: solid 1px white;
	color: white;
	padding: 10px;
	text-align: center;
}

.content figure img	{
	border: solid 1px white;
	width: 100%;
	height: auto;

}

.content figure figcaption {
	font-size: .8em;
}

/*SOLUTION*/

@media only screen and (min-width: 401px) and (max-width: 960px){
	/* if the screen has width between 401 to 960px*/

	.content figure{
		float: left;
		width: 50%;

	}
}

@media only screen and (min-width: 961px){
	/* if the screen has width >= 961px */
	.content{
		width: 960px;
		margin: 0 auto;
	}

	.content figure {
		width: 33.3%;
		float: left;
	}	

}